.flex {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#palavra-flex-container {
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body {
    font-family: "Roboto", sans-serif;
}

.letra-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.letra {
    font-size: 6vw;
    margin: 0;
}

.underline {
    font-size: 12vw;
    padding: 0 1vw;
    margin: -12vw 0 0 0;
    font-weight: 300;
}

#alfabeto-flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2vh;
}

#alfabeto-flex-container > button {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 2vw;
    color: white;
    border-width: 0;
    padding: 3vh;
    flex-basis: 5vw;
}

#alfabeto-flex-container > button:hover {
    background-color: white;
    color: black;
}

h1 {
    font-size: 10vw;
    letter-spacing: 3vw;
    font-family: "Cinzel Decorative", serif;
    margin: 0;
}

h2 {
    font-size: 4vh;
    text-align: center;
}

#button-jogar {
    margin-top: 5vh;
    padding: 1vw;
    background-color: white;
    border-radius: 4vw;
    font-family: "Roboto", sans-serif;
    font-size: 2vw;
}
#button-jogar:hover {
    background-color: black;
    color: white;
}

#button-continuar {
    padding: 1vw;
    color: white;
    border-radius: 4vw;
    font-family: "Roboto", sans-serif;
    font-size: 1.5vw;
}
#button-continuar:hover {
    background-color: white;
    color: black;
}

.invisible {
    visibility: hidden;
}

.colorido {
    background-color: #F43D3D;
}